.css-1ltj605 {
    height: 100vh;
    display: flex;
          position: fixed;
          inset: 0px;
          background: rgb(255, 255, 255);
          z-index: 99999;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          transition: opacity 0.75s, visibility 0.75s;
      }
.css-1ltj605-hidden{
    opacity: 0;
    visibility: hidden;
}
      
.css-nvmvi3 *, .css-nvmvi3 *::before, .css-nvmvi3 *::after {
          box-sizing: inherit;
      }
      .css-z01bqi {
          display: inline-block;
          color: #800;
          animation: 1.4s linear 0s infinite normal none running animation-61bdi0;
      }
      .css-nvmvi3 *, .css-nvmvi3 *::before, .css-nvmvi3 *::after {
          box-sizing: inherit;
      }
      @keyframes animation-61bdi0{
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
        }
      .css-13o7eu2 {
          display: block;
      }
      .css-nvmvi3 *, .css-nvmvi3 *::before, .css-nvmvi3 *::after {
          box-sizing: inherit;
      }
      .css-14891ef {
          stroke: currentcolor;
          stroke-dasharray: 80px, 200px;
          stroke-dashoffset: 0;
          animation: 1.4s ease-in-out 0s infinite normal none running animation-1p2h4ri;
      }
      
      .css-nvmvi3 *, .css-nvmvi3 *::before, .css-nvmvi3 *::after {
          box-sizing: inherit;
      }
      
      @keyframes nimation-1p2h4ri{
      0% {
          stroke-dasharray: 1px, 200px;
          stroke-dashoffset: 0;
      }
      50% {
          stroke-dasharray: 100px, 200px;
          stroke-dashoffset: -15px;
      }
      100% {
          stroke-dasharray: 100px, 200px;
          stroke-dashoffset: -125px;
      }
      }
/* -------------------------------   END LOADER   --------------------------------- */

img {
    max-width: 100%;
    height: auto;
}
