@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

@media screen and (max-width: 960px) {
    .status {
        min-width: 48px;
        min-height: 48px;
        max-width: 48px;
        max-height: 48px;
        border-radius: 100%;
    }
    
    .status .text-status {
        display: none;
    }

    .profile {
        min-width: 48px;
        max-width: 48px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: #0b57d0;
    }
    
    .not-login {
        padding: 0;
    }

    .not-login i {
        padding: 5px;
        color: #0b57d0;
    }

    .profile .not-login p {
        display: none;
    }
    
    .search input {
        width: 300px;
    }
}

@media screen and (max-width: 760px) {
    .search input {
        width: 150px;
    }
    .boxx {
        flex-direction: column;
    }

    .boxx .box-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boxx .box-list {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    /* .list[flex-direction="col"] 
    .col-4 {

    } */

    .list[flex-direction="row"] {
        flex-wrap: wrap;
    }

    .list[flex-direction="row"] 
    .col-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .profile {
        min-width: 48px;
        max-width: 48px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: #0b57d0;
    }
    
    .not-login {
        padding: 0;
    }

    .not-login i {
        padding: 5px;
        color: #0b57d0;
    }

    .profile .not-login p {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .profile .not-login p {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .status {
        display: none;
    }

    .search input {
        width: 100px;
    }
}

@media screen and (max-width: 944px) {
    .main-boxes .boxes {
        display: flex;
        flex-direction: column;
    }

    .main-boxes .boxes .box {
        width: 100%;
        background-color: #e9eef6;
        padding: 20px 50px;
        border-radius: 10px;
    }
}

@media (max-width: 1130px) {
    .list[flex-direction="row"]  .info {
        margin-top: 10px;
    }
}


@media (max-width: 1144px) {
    .profile[login="true"] {
        min-width: 48px;
        max-width: 48px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: var(--main-col);

    }

    .profile[login="true"] .logo-profile {
        display: none;
    }
    
    .profile[login="true"] .person-profile {
        padding: 0;
        margin-right: 0;
        float: right;
    }
}


@media (max-width: 900px) {
    .box {
        width: 49%;
    }
    
    .load-more-container {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .load-more {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        background-color: var(--main-col);
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }
}